@model Projeto.ViewModels.CreatePostVM

@{
    ViewData["Title"] = "Create Post";

    string Thumbnail = "";

    if (Model.ThumbnailUrl == null)
    {
        Thumbnail = "/Thumbnails/default_image.png";
    }
    else
    {
        Thumbnail = "/Thumbnails/Posts/" + Model.ThumbnailUrl;
    }
}

<div class="return">
    <a asp-area="Admin" asp-controller="Post" asp-action="Index" class="link">
        <span class="material-icons-sharp">arrow_back</span>
        <h3>Voltar atrás</h3>
    </a>
</div>

<h2>Criar Post</h2>
<div class="card-about">
    <form asp-action="Create" asp-controller="Post" asp-area="Admin" enctype="multipart/form-data">
        <div class="form-container">
            <div class="left-column">
                <div class="form-group">
                    <label class="top-label-form">Title</label>
                    <input type="text" asp-for="Title" class="form-control" placeholder="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="label-form">Short Description</label>
                    <input type="text" asp-for="ShortDescription" class="form-control" placeholder="Short Description" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="label-form">Description</label>
                    <textarea id="description" asp-for="Description" class="form-control" rows="9" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="IsPublic" class="label-form">Privacidade</label>
                    <input type="checkbox" value="true" id="IsPublic" name="IsPublic" class="input-toggle">

                    <div class="display">
                        <label class="toggle" for="IsPublic">
                            <div class="circle">
                                <span class="material-icons-sharp span lock">lock</span>
                                <span class="material-icons-sharp span lockOpen">lock_open</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="form-group">
                    <img id="thumbnailPreview" src="@Thumbnail" class="img-chooseFile" />
                </div>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" asp-for="Thumbnail" class="custom-file-input" id="picture">
                        <label class="custom-file-label" for="picture">Choose file</label>
                    </div>
                </div>
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-2 mt-3 text-right">
            <button type="submit" class="submit-post">Save</button>
        </div>
    </form>
</div>

<script src="~/Admin/js/ChooseFile.js"></script>