@model Projeto.ViewModels.ResetPasswordVM

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot Password";
}

<div class="card-forgotPassword">
    <form class="form" method="post" asp-action="ForgotPassword">
        <div class="form-container">
            <div class="title">
                    <a asp-action="" asp-controller="User" class="link">
                        <span class="material-icons-sharp">arrow_back</span>
                    </a>
                <h1 class="h4 text-gray-900 mb-4">Forgot Password</h1>
            </div>

            <div class="form-group">
                <input asp-for="Username" type="text" class="form-control form-control-user"
                       id="exampleInputEmail" aria-describedby="emailHelp"
                       placeholder="Enter Username...">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NewPassword" type="password" class="form-control form-control-user"
                       id="exampleInputPassword" placeholder="New Password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user"
                       id="exampleInputPassword" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
            </div>
            <button type="submit" class="forgot-password">Reset Password</button>
        </div>
    </form>
</div>

