@model Projeto.ViewModels.LoginVM

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="card-login">
    <form method="post" asp-action="Login">
        <div class="form-container">
            <div class="title">
                <h1>Welcome Back!</h1>
            </div>
            <div class="form-group">
                <input asp-for="Username" type="text"
                    placeholder="Enter Username...">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password"
                    placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn" value="Login">
                <div class="forgot">
                    <a class="small" asp-action="ForgotPassword" asp-controller="User">Forgot Password?</a>
                </div>
                <div class="create">
                    <a class="small" asp-action="CreateAccount" asp-controller="User">Create an Account!</a>
                </div>
            </div>
        </div>
    </form>
</div>