@model Projeto.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register User";
}

<div class="return">
    <a asp-action="Index" asp-controller="User" class="link">
        <span class="material-icons-sharp">arrow_back</span>
        <h3>Voltar atrás</h3>
    </a>
</div>
<h2>Novo Utilizador</h2>
<div class="card-register">
    <form asp-action="Register" asp-controller="User" asp-area="Admin" enctype="multipart/form-data">
         <div class="form-container">
            <div class="left-column">
                <div class="form-row">
                    <div class="form-group">
                        <label class="top-label-form">First Name</label>
                        <input type="text" asp-for="FirstName" class="form-control" 
                            placeholder="First Name"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="top-label-form">Last Name</label>
                        <input type="text" asp-for="LastName" class="form-control" 
                            placeholder="Last Name"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="label-form">Email</label>
                        <input type="email" asp-for="Email" class="form-control"
                            placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="label-form">Phone Number</label>
                        <input type="text" asp-for="PhoneNumber" class="form-control"
                            placeholder="Phone Number">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="label-form">Username</label>
                        <input type="text" asp-for="UserName" class="form-control"
                            placeholder="UserName">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="label-form">Role</label>
                        <div class="dropdown">
                            <div class="select" id="roleDropdown">
                                <span class="selected">Selecione a Role</span>
                                <div class="caret"></div>
                            </div>
                            <ul class="menu">
                                <li data-value="Author">Author</li>
                                <li data-value="Editor">Editor</li>
                                <li data-value="Admin">Admin</li>
                            </ul>
                        </div>
                        <input type="hidden" asp-for="Role" id="roleHiddenField" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="label-form">Password</label>
                        <input type="password" asp-for="Password" class="form-control"
                            placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="label-form">Confirm Password</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control"
                            placeholder="Confirm Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="right-column">
                <div class="form-row-right">
                    <div class="form-group">
                        <img id="thumbnailPreview" src="~/ProfilePictures/default.jpg" class="profile-photo-form" />
                    </div>
                    <div class="form-group">
                        <label class="label-form">Foto de Perfil</label>
                        <div class="custom-file">
                            <input type="file" asp-for="ProfilePicture" class="custom-file-input" id="picture" />
                            <label class="custom-file-label">Choose file</label>
                            <span asp-validation-for="ProfilePicture" class="text-bg-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn">
            <button type="submit" class="submit-user">Adicionar</button>
        </div>
    </form>
</div>
<script src="~/Admin/js/dropdownRegister.js"></script>
<script src="~/Admin/js/ChooseFile.js"></script>

