@model Projeto.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
}

<div class="return">
    <a asp-action="Index" asp-controller="User" class="link">
        <span class="material-icons-sharp">arrow_back</span>
        <h3>Voltar atrás</h3>
    </a>
</div>
    <h2>Reset Password</h2>
    <div class="card">
        <input type="hidden" asp-for="Id" />
        <form asp-action="Edit" asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-4">
                                <label>UserName</label>
                                <input type="text" asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-4">
                                <label>New Password</label>
                                <input type="password" asp-for="NewPassword" class="form-control" rows="9">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-4">
                                <label>Confirm Password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" rows="9">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 mt-3">
                <button type="submit" class="submit-user">Reset Password</button>
            </div>
        </form>
    </div>
