@model Projeto.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
}

<div class="return">
    <a asp-action="Index" asp-controller="User" class="link">
        <span class="material-icons-sharp">arrow_back</span>
        <h3>Voltar atrás</h3>
    </a>
</div>

<h2>Reset Password</h2>
<div class="card">
    <input type="hidden" asp-for="Id" />
    <form asp-action="Edit" asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
        <div class="form-container">
            <div class="left-column">
                <div class="form-group">
                    <label class="top-label-form">Username</label>
                    <input type="text" asp-for="Username" class="form-control" placeholder="Title" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="label-form">New Password</label>
                    <input type="text" asp-for="NewPassword" class="form-control" placeholder="Short Description" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="label-form">Confirm Password</label>
                    <input id="description" asp-for="ConfirmPassword" class="form-control" rows="9" placeholder="Description" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
            <div class="btn">
                <button type="submit" class="submit-user">Reset Password</button>
            </div>
        </form>
    </div>
